<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Secure Player</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>SecurePlayer</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Secure Player needs access to your photo library so you can import videos, images and audio files into your private vault.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Secure Player needs permission to save media you export from your private vault.</string>
		<key>NSCameraUsageDescription</key>
		<string>Secure Player only requests camera access if you choose to import media using the camera.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Secure Player only requests microphone access if you record audio for your private vault.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Secure Player uses Face ID to unlock the app and your private media vault.</string>
		<key>NSDocumentsFolderUsageDescription</key>
		<string>Secure Player needs access to your Documents folder so you can import files into your private vault.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>Secure Player needs access to your media library if you choose to import audio.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
		</array>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>mailto</string>
			<string>https</string>
		</array>
		<key>UIFileSharingEnabled</key>
		<false/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<false/>
	</dict>
</plist>
